<h1>Edit Article</h1>

<% if @article.errors.any? %>
  <h2>The following errors prevented the article from being saved</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
    <% end %>
  </ul>
<% end %>
<%# 
articles_path dh el hwa el index route
model dyh hena bet5allyh y keep track en dh el edit route, y3ny mn el a5er 3ashan el data el kanet mwgooda fel form l kol article tezhar fel form lazem a specify the model
local: true hay5aly el form te3mel http post request 3ady msh ajax reqest
%>
<%= form_with(model: @article, local: true) do |f| %>
  <p>
    <%= f.label :title %> <br/>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %> <br/>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Save Article" %>
  </p>
<% end %>

<%= link_to 'Cancel and return to articles listing', articles_path %>
